altair==4.2.0
altgraph==0.17.2
anaconda-navigator==2.0.3
appdirs==1.4.4
argh==0.26.2
atomicwrites==1.4.0
auto-py-to-exe==2.17.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
basemap==1.3.2
basemap-data==1.3.2
bkcharts==0.2
black==19.10b0
blinker==1.4
oto==2.49.0
bottle==0.12.19
bottle-websocket==0.2.9
Bottleneck==1.3.2
branca==0.4.2
brotlipy==0.7.0
certifi==2021.10.8
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
clyent==1.2.2
comtypes==1.1.10
conda==4.11.0
conda-build==3.21.4
conda-verify==3.4.2
Eel==0.12.4
entrypoints==0.3
t-xmlfile==1.1.0
fastcache==1.1.0
Flask==1.1.2
folium==0.12.1.post1
future==0.18.2
geopandas==0.10.2
gevent-websocket==0.10.1
gitdb==4.0.9
GitPython==3.1.27
jupyter==1.0.0
llvmlite==0.36.0
locket==0.2.1
mccabe==0.6.1
menuinst==1.4.16
metdig==0.1.7.8
meteva==1.6.1.1
MetPy==1.1.0
mistune==0.8.4
mkl-fft==1.3.0
mkl-service==2.4.0
mpmath==1.2.1
multipledispatch==0.6.0
munch==2.5.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
nclcmaps==0.1.0
nmc-met-io==0.1.8.2
opencv-python==4.5.4.58
parso==0.7.0
pathspec==0.7.0
patsy==0.5.1
pefile==2021.9.3
pep8==1.7.1
Pillow==8.4.0
Pint==0.18
pipreqs==0.4.11
plotly==5.6.0
ply==3.11
prettytable==3.2.0
protobuf==3.17.2
pycosat==0.6.3
pycurl==7.44.1
pydeck==0.7.1
pyecharts==1.9.1
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.1
Pympler==1.0.1
pyodbc===4.0.0-unsupported
PyPDF2==1.26.0
pyperclip==1.8.2
pyreadline==2.1
pytest==6.2.5
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywebio==1.5.2
pywin32==302
pywin32-ctypes==0.2.0
PyYAML==6.0
QDarkStyle==2.8.1
semver==2.13.0
Shapely==1.7.1
simplegeneric==0.8.1
simplejson==3.17.6
smmap==5.0.0
statsmodels==0.12.2
streamlit==1.8.0
streamlit-echarts==0.4.0
tables==3.6.1
tenacity==8.0.1
tzdata==2022.1
tzlocal==4.1
ua-parser==0.10.0
unicodecsv==0.14.1
user-agents==2.2.0
validators==0.18.2
xgrads==0.1.82
xlwings==0.24.9
xlwt==1.3.0
yarg==0.1.9
zict==2.0.0
zope.event==4.5.0
